<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<%= form_with(model: @municipe, html: { data: { controller: "masks" } }) do |form| %>
  <%= render "/municipes/partials/municipe", form: form, required: false, disabled: true %>
  <%= render "/municipes/partials/endereco", form: form, required: true, readonly: true, disabled: true %>
<% end %>  

            